#container {    
    background-color: cyan;
    width: 1200px;
    margin: 0 auto;
}
body, html {
    margin: 0;
    padding: 0;
}
 section   {
   display: flex; 
   background-color: purple;
   flex-direction: column;
 }

 nav{
    width: 25%;
    background-color: red;
 }

 article{
    height: 240px;
    width: 75%;
    background-color: yellow
 }

header {
    height: 60px;
    background-color: blue
}

footer {
    height: 60px;
    background-color: blue
}