#container {    
    background-color: cyan;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content content content'
    'footer footer footer footer';	
}
body, html {
    margin: 0;
    padding: 0;
}
 section   {
   display: flex; 
   background-color: purple;
   flex-direction: column;
 }

 nav{
    background-color: red;
    grid-area: menu;
 }

 article{
    grid-area: content;
    height: 240px;
    background-color: yellow
 }

header {
    height: 60px;
    background-color: blue
}

footer {
    grid-area: footer;
    height: 60px;
    background-color: blue
}